<div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" style="padding: 1%;">
        <div id="title">
            <span class="titleclass">
                <i class="anticon anticon-solution"></i>申请管理
            </span>
        </div>
        <div id="applicationList_table" class="mt-4">
            <nz-table #nzApplicationListTable [nzDataSource]="applicationListData" [nzPageSize]="10" [nzLoading]="_loading" [nzIsPagination]="_pagination" [(nzPageIndex)]="_current" (nzPageIndexChange)="edit($event)">
              <thead nz-thead>
                <tr>
                  <th nz-th *ngFor="let theadItem of theadArray"><span>{{theadItem}}</span></th>
                  <th nz-th><span>操作</span></th>
                </tr>
              </thead>
              <tbody nz-tbody>
                  <ng-container *ngFor="let data of nzApplicationListTable.data">
                      <tr nz-tbody-tr *ngIf="data.isShow">
                            <td nz-td *ngFor="let theadItem of theadArrayEng">
                                {{data[theadItem]}}   
                            </td>
                            <td nz-td>
                                <nz-tooltip [nzTitle]="'编辑'" [nzPlacement]="'top'">
                                    <button nz-tooltip (click)="showEditModalForTemplate(editModalTitle, editModalContent, editModalFooter, data)" nz-button [nzType]="'primary'" [nzShape]="'circle'">
                                        <i class="anticon anticon-edit"></i>
                                    </button>
                                </nz-tooltip>
                                <span nz-table-divider></span>
                                <nz-popconfirm nzTitle="确定删除本申请吗？" (nzOnConfirm)="deleteApplication(data)" nzPlacement="top">
                                    <nz-tooltip [nzTitle]="'删除'" [nzPlacement]="'top'">
                                        <button  nz-popconfirm nz-tooltip nz-button [nzType]="'primary'" [nzShape]="'circle'">
                                            <i class="anticon anticon-user-delete"></i>
                                        </button>
                                    </nz-tooltip>
                                </nz-popconfirm>
                                <span nz-table-divider></span>
                                <nz-dropdown>
                                <a class="ant-dropdown-link" nz-dropdown>
                                    更多 <i class="anticon anticon-down"></i>
                                </a>
                                <ul nz-menu>
                                    <li nz-menu-item>
                                    <a (click)="edit(data)">active</a>
                                    </li>
                                </ul>
                                </nz-dropdown>
                            </td>
                      </tr>
                  </ng-container>
              </tbody>
            </nz-table>
        </div>
    </div>
</div>

<!-- 编辑申请弹出框 -->
<ng-template #editModalTitle>
    <span>编辑申请</span>
</ng-template>
<ng-template #editModalContent>
    <app-basicinfo-form></app-basicinfo-form>
</ng-template>
<ng-template #editModalFooter>
    <div>
        <button (click)="editModalOk($event)" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isConfirmLoading">
            提交
        </button>
    </div>
</ng-template>
