#report_review_div {
    padding: 2%;
}

.patientImage_class > img {
    width: 100%;
}

.patientImage_small_class > img {
    width: 80px;
    height: 80px;
}

.reportModal_class {
    width: 1200px;
    height: 600px;
    overflow: auto;
}