<div>
    <carousel>
        <slide>
            <img src="assets/images/index/1.jpg" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>First slide</h3>
                <p>解读人类基因的秘密</p>
            </div>
        </slide>
        <slide>
            <img src="assets/images/index/2.jpg">
            <div class="carousel-caption d-none d-md-block">
                <h3>Second slide</h3>
                <p>解读人类基因的秘密</p>
            </div>
        </slide>
        <slide>
            <img src="assets/images/index/6.jpg">
            <div class="carousel-caption d-none d-md-block">
                <h3>Third slide</h3>
                <p>个性化健康服务</p>
            </div>
        </slide>
    </carousel>
</div>
<div id="home-nav-div">
    <div class="home-nav-item">
        <a routerLink="/diagnosis">
            <img src="assets/images/home/application1.png">
        </a>
        <div class="content">
            <p>报告申请</p>
            <p>基因检测报告申请，进行个性化基因测序服务</p>
        </div>
    </div>
    <div class="home-nav-item">
        <a routerLink="/#">
            <img src="assets/images/home/reporting1.png">
        </a>
        <div class="content">
            <p>报告生成</p>
            <p>上传基因测序结果进行测序分析，生成基因检测报告</p>
        </div>
    </div>
    <div class="home-nav-item" style="margin-right: auto;">
        <a routerLink="#">
            <img src="assets/images/home/check1.png">
        </a>
        <div class="content" style="margin-top: 15px;">
            <p>报告修改</p>
            <p>基因检测报告审阅以及修改</p>
        </div>
    </div>
</div>

<div style="height: 500px;"></div>

<footer class="bg-light">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md">
                <h5>Main page</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="#">Examples</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">What is gene</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">How to get report</a>
                    </li>
                </ul>
            </div>
            <div class="col-md">
                <h5>About CGDP</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="#">News</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Privacy protection</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Service</a>
                    </li>
                </ul>
            </div>
            <div class="col-md">
                <h5>Help</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="#">About the genetic diagnosis</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Report Interpretation</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Community</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <small class="d-block mb-3 text-muted">@2017-2018 Clinical Genetic Diagnosis Platform</small>
            <small class="d-blcok mb-3 text-muted">All Rights Reserved</small>
        </div>
    </div>
</footer>
